spring:
  application:
    name: omno
  datasource:
    url: jdbc:postgresql://postgres.omno.orb.local:5432/postgres
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    default-schema: pricing
    create-schemas: true
    locations: classpath:db/migration
