spring:
  application:
    name: omno
  datasource:
    url: jdbc:postgresql://postgres.omno.orb.local:5432/pricing
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    database: postgresql
    open-in-view: true
  flyway:
    enabled: true
    default-schema: pricing
    create-schemas: true
    locations: classpath:db/migration
    baseline-on-migrate: true
cache:
  invalidate:
    enabled: true

management:
  tracing:
    sampling:
      probability: 1.0
    export:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,configprops
  endpoint:
    health:
      show-details: when_authorized
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces

logging:
  level:
    root: INFO
    ge.imikhailov.omno: DEBUG
  pattern:
    # Adds traceId/spanId to logs for correlation
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
