spring:
  application:
    name: omno
  datasource:
    url: jdbc:postgresql://postgres.omno.orb.local:5432/pricing
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    database: postgresql
    open-in-view: true
  flyway:
    enabled: true
    default-schema: pricing
    create-schemas: true
    locations: classpath:db/migration
    baseline-on-migrate: true
cache:
  invalidate:
    enabled: true
